/* ===========Variables======================== */
:root{
    --text                  :white;
    --header                :black;
    --Borders               :rgb(255, 255, 255);
    --navbackground         :rgb(111, 104, 255);
    --black                 :black;
    --shadow                :rgba(0, 0, 0, 0.346);
    --background            :rgb(236, 238, 255);
    --grey                  :rgb(181, 181, 181);
    --white                 :white;
    --basecolor             :rgb(111, 104, 255);
}
/* =============================================== */
*{
    padding                 : 0%;
    margin                  : 0%;
    transition              : 1s;
}

body{
    overflow-x              : hidden;
    background-color        : var(--background);
}

