.header{
        align-self: center;
        text-align: center;
        padding: 2%;
        font-size: 5vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: var(--white);
        color: var(--black);
        /* border-radius: 10%; */
    }
.grid-3{
    padding: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
}

a{
    align-self: center;
    text-decoration: none;
    padding: 1%;
    color: var(--text);
}

.link{
    background-color: var(--white);
    width: 5vh;
    height: 5vh;
    border-radius: 25%;
    color: var(--black);
}

.grid-3 img{
    width: 10rem;
    height: 10rem;
}
.description{
    height: 40vh;
    /* overflow-y: scroll; */
    /* background-color: var(--textbackground); */
    color: var(--black);
}

.grid-3 button{
    border-radius: 25vh;
    color: var(--white);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--shadow);
    background-color: var(--basecolor);
}
.grid-3 h1{
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--shadow);

}
.grid-3 button:hover{
    filter:brightness(70%);
}